[{{ SITENAME }}]
user = {{ LOCAL_LINUX_USER }}
group = www-data
listen = /var/run/php-fpm-{{ SITENAME }}.sock
listen.owner = www-data
listen.group = www-data
php_admin_value[disable_functions] = exec,passthru,shell_exec,system
php_admin_flag[allow_url_fopen] = off
pm = dynamic
pm.max_children = 2
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 2
chdir = /var/www/{{ SITENAME }}
php_value[upload_max_filesize] = 50M
php_value[post_max_size] = 50M
php_value[max_execution_time] = 300
php_value[memory_limit] = 512M